@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
  }

body {
    padding: 10px;
    margin: 1%;
    font-family: Montserrat, sans-serif;
    font-size: 1.1em;
}

header {
    background-color: #033E59;
    background-image: url(../images/flywheel.jpg);
    background-size: 100%;
    background-position: top;
    padding: 35px;
    text-align: center;
}

h1 {
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

nav a{
    display: inline-block;
    margin: 1em;
    text-decoration: none;
    padding: 1em;
    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 5px;
    
    color: #000000;
    background-color: #8ebdb6c0;
    text-align: center;
    vertical-align: middle;
    width:150px;
    height: 20px;
}

h2 {
    color: #0F1F26;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2em;
}

.active {
    background-color: #ffffff;
}


img {
    width: 89%;
    margin: 5%;
    border: 1px solid #000000;
  }
  
  .left {
    float: left;
    text-align: center;
    padding: 2%;
    width: 20%;
    height: 100vh;
    margin: 0 auto;
    background-color: #074F70;
  }
  

.right {
    width: 60%;
    display: inline-block;
    padding: 2%;
    margin: 1%;
}

table {
    font-size: .8em;
    font-weight: 600;
    line-height: .8em;
    width: 90%;
    margin: 0 auto;
    vertical-align: middle;
}

th {
    padding: 2%;

    background: rgb(48,179,240);
    background: -moz-radial-gradient(circle, rgba(48,179,240,1) 68%, rgba(14,85,117,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(48,179,240,1) 68%, rgba(14,85,117,1) 100%);
    background: radial-gradient(circle, rgba(48,179,240,1) 68%, rgba(14,85,117,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#30b3f0",endColorstr="#0e5575",GradientType=1);

    border-top: 2px solid #0E5575;
    border-bottom: 4px solid #0E5575;

    text-shadow: 1px 1px 2px #ffffff;
}

th, tr td {
    text-align: center;
}

th:first-child, tr td:first-child {
    text-align: left;
}

tr td {
    opacity: 0.7;
}

tr:hover td {
    opacity: 1;
    font-weight: bolder;
}

td {
    padding: 2%;
    color: #042131;
    background-color: rgb(160, 192, 207);

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;

    text-shadow: 1px 1px 2px #01aaff;
}